.content {
  min-height: calc(100vh - 80px);
}

/* Headers */

.header-h1 > img {
  max-width: 100%;
}

.header-h3, footer {
  font-family: 'Jura', sans-serif;
}


/* Search bar and button */

.search-section {
  margin: 20px;
  font-family: 'Jura', sans-serif;
}

#search-button {
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  color: white;
  border-radius: 50px; 
}

.search-button-label {
  display: none;
}

#search-button:hover + .search-button-label {
  display: flex;
  align-items: center;
}

form {
  display: flex;
}

#search-bar {
  height: fit-content;
  margin-top: 15px;
}


#search-button:hover {
  transform: scale(1.25, 1.25);
  transition: .5s;
  transform: rotate(360deg);
  margin-left: 20px;
}

/* A little bit of everything */


header, section, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Results of search */

.results {
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  font-family: 'Jura', sans-serif;
  flex-wrap: nowrap;
  text-align: center;
}

.description {
  flex-wrap: wrap;
}

.results, .results > img {
  display: flex;
}

p.results  {
  display: flex;
  align-items: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: bold;
}

.image {
    background-color: white;
    border-radius: 20px;
    border: black solid 1px;
    padding: 10px;
}

h2.container {
  order: 0;
}

.type2 {
  order: 1;
}

.height {
  order: 2;
}

.weight {
  order: 3;
}


.description {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  text-align: center;
}

p.description {
  font-size: 20px;
}


/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    flex-direction: row;
}

.fab {
  color: black;
}

.surprise-pikachu {
  display: none;
}

#footer-text:hover + .surprise-pikachu {
  display: inline-block;
  align-items: center;
}


/* Media queries */

@media screen and (max-width: 600px), (max-width: 900px) {
  .header-h1-image {
    width: 75%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 800px) {
  .results {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1080px) {
  .results {
    width: 75%;
    margin-left: 12%;
  }
}






